<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      {{ default_css | safe }}
      {{ additional_css | safe }}
    </style>
  </head>
  <body>
    <!-- Main tag that contains the entire plot and related tags -->
    <div id="plot-container">
      {{ svg | safe }}

      <!-- Placeholder for the tooltip -->
      <div class="tooltip" id="tooltip"></div>
    </div>

    <script id="plot-data" type="application/json">
      {{ plot_data_json | tojson }}
    </script>

    <script>
      // prettier-ignore
      {{ dompurify | safe }}
    </script>
    <script>
      // prettier-ignore
      {{ d3 | safe }}
    </script>

    {% if click_handler_javascript %}
    <script>
      // prettier-ignore
      {{ click_handler_javascript | safe }}
    </script>
    {% endif %}

    <script type="module">
      // prettier-ignore
      {{ js_parser | safe }}

      initPlot();
    </script>

    {% if additional_javascript %}
    <script type="module">
      // prettier-ignore
      {{ additional_javascript | safe }}
    </script>
    {% endif %}
  </body>
</html>
